In [1]:
from pymongo import MongoClient

In [2]:
mongo = MongoClient(port=27017)

In [3]:
print(mongo.list_database_names())

['admin', 'config', 'local']

In [4]:
my_first_db = mongo['my_db']

In [5]:
print(mongo.list_database_names())

['admin', 'config', 'local']

In [6]:
my_first_collection = my_first_db['my_collection']
my_first_db.list_collection_names()
my_first_collection.insert_one({'name': 'Mickey'})

In [7]:
print(mongo.list_database_names())
print(my_first_db.list_collection_names())

['admin', 'config', 'local', 'my_db']
['my_collection']

In [8]:
my_first_collection.insert_one({'name': 'Minnie','age': 90})

In [9]:
results = my_first_collection.find()
for x in results:
    print(x)

{'_id': ObjectId('636ae18f8f0dba21a96f417c'), 'name': 'Mickey'}
{'_id': ObjectId('636ae1d48f0dba21a96f417d'), 'name': 'Minnie', 'age': 90}

In [10]:
goofy = {'_id':3, 'name': 'Goofy', 'age': 87, 'species': 'dog'}
my_first_collection.insert_one(goofy)

In [11]:
results = my_first_collection.find()
for x in results:
    print(x)

{'_id': ObjectId('636ae18f8f0dba21a96f417c'), 'name': 'Mickey'}
{'_id': ObjectId('636ae1d48f0dba21a96f417d'), 'name': 'Minnie', 'age': 90}
{'_id': 3, 'name': 'Goofy', 'age': 87, 'species': 'dog'}

In [12]:
animals = [{'name': 'Donald', 'species': 'duck'}, {'name': 'Daisy', 'species': 'duck'}]
my_first_collection.insert_many(animals)

In [13]:
results = my_first_collection.find()
for x in results:
    print(x)

{'_id': ObjectId('636ae18f8f0dba21a96f417c'), 'name': 'Mickey'}
{'_id': ObjectId('636ae1d48f0dba21a96f417d'), 'name': 'Minnie', 'age': 90}
{'_id': 3, 'name': 'Goofy', 'age': 87, 'species': 'dog'}
{'_id': ObjectId('636ae2668f0dba21a96f417e'), 'name': 'Donald', 'species': 'duck'}
{'_id': ObjectId('636ae2668f0dba21a96f417f'), 'name': 'Daisy', 'species': 'duck'}

In [14]:
query = {'name': 'Donald'}
results = my_first_collection.find(query)
for result in results:
    print(result)

{'_id': ObjectId('636ae2668f0dba21a96f417e'), 'name': 'Donald', 'species': 'duck'}

In [15]:
query = {'species': 'duck'}
results = my_first_collection.find(query)
for result in results:
    print(result)

{'_id': ObjectId('636ae2668f0dba21a96f417e'), 'name': 'Donald', 'species': 'duck'}
{'_id': ObjectId('636ae2668f0dba21a96f417f'), 'name': 'Daisy', 'species': 'duck'}

In [16]:
query = {'age': {'$gt':85}}
results = my_first_collection.find(query)
[result for result in results]

[{'_id': ObjectId('636ae1d48f0dba21a96f417d'), 'name': 'Minnie', 'age': 90},
 {'_id': 3, 'name': 'Goofy', 'age': 87, 'species': 'dog'}]

In [18]:
query = {'age': {'$lt':88}}
results = my_first_collection.find(query)
[result for result in results]

[{'_id': 3, 'name': 'Goofy', 'age': 87, 'species': 'dog'}]

In [25]:
query = {'name': 'Mickey'}
update = {'$set': {'name': 'Mickey Mouse'}}
my_first_collection.update_one(query, update)
[r for r in my_first_collection.find()]

[{'_id': ObjectId('636ae18f8f0dba21a96f417c'), 'name': 'Mickey Mouse'},
 {'_id': ObjectId('636ae1d48f0dba21a96f417d'), 'name': 'Minnie', 'age': 90},
 {'_id': 3, 'name': 'Goofy', 'age': 87, 'species': 'dog'},
 {'_id': ObjectId('636ae2668f0dba21a96f417e'),
  'name': 'Donald',
  'species': 'duck'},
 {'_id': ObjectId('636ae2668f0dba21a96f417f'),
  'name': 'Daisy',
  'species': 'duck'}]

In [26]:
query = {'name': 'Minnie'}
update = {'$set': {'name': 'Minnie Mouse'}}
my_first_collection.update_one(query, update)
[r for r in my_first_collection.find()]

[{'_id': ObjectId('636ae18f8f0dba21a96f417c'), 'name': 'Mickey Mouse'},
 {'_id': ObjectId('636ae1d48f0dba21a96f417d'),
  'name': 'Minnie Mouse',
  'age': 90},
 {'_id': 3, 'name': 'Goofy', 'age': 87, 'species': 'dog'},
 {'_id': ObjectId('636ae2668f0dba21a96f417e'),
  'name': 'Donald',
  'species': 'duck'},
 {'_id': ObjectId('636ae2668f0dba21a96f417f'),
  'name': 'Daisy',
  'species': 'duck'}]

In [27]:
query = {'name': 'Mickey Mouse'}
my_first_collection.delete_one(query)
[r for r in my_first_collection.find()]

[{'_id': ObjectId('636ae1d48f0dba21a96f417d'),
  'name': 'Minnie Mouse',
  'age': 90},
 {'_id': 3, 'name': 'Goofy', 'age': 87, 'species': 'dog'},
 {'_id': ObjectId('636ae2668f0dba21a96f417e'),
  'name': 'Donald',
  'species': 'duck'},
 {'_id': ObjectId('636ae2668f0dba21a96f417f'),
  'name': 'Daisy',
  'species': 'duck'}]

In [28]:
query = {'age': {'$gt':88}}
# query = {'name': 'Mickey Mouse'}
my_first_collection.delete_one(query)
[r for r in my_first_collection.find()]

[{'_id': 3, 'name': 'Goofy', 'age': 87, 'species': 'dog'},
 {'_id': ObjectId('636ae2668f0dba21a96f417e'),
  'name': 'Donald',
  'species': 'duck'},
 {'_id': ObjectId('636ae2668f0dba21a96f417f'),
  'name': 'Daisy',
  'species': 'duck'}]

In [30]:
query = {'_id': 3}
my_first_collection.delete_one(query)
[r for r in my_first_collection.find()]

[{'_id': ObjectId('636ae2668f0dba21a96f417e'),
  'name': 'Donald',
  'species': 'duck'},
 {'_id': ObjectId('636ae2668f0dba21a96f417f'),
  'name': 'Daisy',
  'species': 'duck'}]

In [31]:
query = {'species': 'duck'}
my_first_collection.delete_many(query)
[r for r in my_first_collection.find()]

[]

In [32]:
my_first_db.drop_collection('my_collection')

{'nIndexesWas': 1, 'ns': 'my_db.my_collection', 'ok': 1.0}

In [33]:
my_first_db.list_collection_names()

[]

In [34]:
mongo.drop_database('my_db')

In [35]:
mongo.list_database_names()

['admin', 'config', 'local']